header {
	border: 3px solid #363636;
	background-color: #636363;
	border-radius: 15px;
	display: flex;
}

.menu-part {
	font-size: 20px;
	background-color: #8C8C8C;
	border-radius: 10px;
	padding: 5px;
	margin: 3px;
}

a {
	text-decoration: none;
	color: wheat;
}